<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <ComponentGroup Id="RegistryComponents" Directory="INSTALLFOLDER">

      <Component Id="comp_RegistryEntries" Guid="3A4B5C6D-7E8F-9A0B-1C2D-3E4F5A6B7C8D">
        <RegistryKey Root="HKCU" Key="Software\Primers Corporation\Primora">
          <RegistryValue Name="InstallPath" Value="[INSTALLFOLDER]" Type="string" />
          <RegistryValue Name="Version"     Value="2.0.0"            Type="string" />
          <RegistryValue Name="Publisher"   Value="Primers Corporation" Type="string" />
          <RegistryValue Name="Website"     Value="https://primora-website.vercel.app" Type="string" />
          <RegistryValue Name="FirstRun"    Value="1" Type="integer" KeyPath="yes" />
        </RegistryKey>
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>
